.active {
  color: white !important;
  border-bottom: 2px solid white;
  text-decoration: none;
}
.inactive {
  color: white !important;
  text-decoration: none;
}
.nav {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  color: black;
}
.inactive:hover {
  color: white;
  border-bottom: 2px solid white;
  text-decoration: none;
  transform: all 1s ease-in-out;
}
