@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200;300;400;500;600;700;800&family=Sacramento&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anek Latin', sans-serif;
}

main {
  padding-top: 5rem;
}

.product-image {
  max-width: 25rem;
  width: 100%;
  object-fit: cover;
}
img.large {
  max-width: 100%;
}
img.thumbnail {
  height: 80px;
}
a.header-link:hover,
.header-link > a:hover {
  color: white;
  border: 1px white solid;
}

a.header-link:hover,
.header-link > a:hover {
  color: white;
  border: 1px white solid;
}
.linkProductItem {
  color: black !important;
  text-decoration: none;
}
.spinner {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rating span {
  color: #ffc000;
}
.btn-primary,
.btn-outline-primary {
  background-color: black !important;
  color: white;
  border: none;
}

.outStockButton {
  background-color: red !important;
  border: none;
}

.productPage {
  overflow: hidden;
}
.productRow {
  padding: 1rem;
}
img.large {
  max-width: 100%;
}
.cardBody {
  background-color: white !important;
}

.homeNavLink {
  border-bottom: none;
}
img.thumbnail {
  height: 5rem;
}
.cartPage {
  padding: 2rem;
}
.cartSubTotal {
  color: black;
}
h1 {
  padding-bottom: 1rem;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}
.fas .fa-trash {
  color: red;
}

.alert-info {
  --bs-alert-color: black;
  --bs-alert-bg: #fccfcf;
  --bs-alert-border-color: lightgreys;
  font-size: 1.2rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid lightgrey;
}
