@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200;300;400;500;600;700;800&family=Sacramento&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anek Latin', sans-serif;
}

main {
  padding-top: 5rem;
}

.product-image {
  max-width: 25rem;
  width: 100%;
  object-fit: cover;
}
img.large {
  max-width: 100%;
}
img.thumbnail {
  height: 80px;
}
.link {
  text-decoration: none;
  color: black !important;
}
.spinner {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rating span {
  color: #ffc000;
}
button {
  background-color: black !important;
  border: none !important;
}
.light {
  background-color: red !important;
  border: none !important;
}
